In [2]:
import pandas as pd
import numpy as np

In [14]:
df_new =pd.read_csv('C:/Users/Nayan/Desktop/Assignments/Term IV/Capstone/Capstone_modified.csv')
support_data = pd.read_csv('C:/Users/Nayan/Desktop/Assignments/Term IV/Capstone/Support_harkirat.csv')
#cosine_sim = np.load('C:/Users/Nayan/Desktop/Assignments/Term IV/Capstone/cosing_harkirat.npy')
indices = pd.read_csv('C:/Users/Nayan/Desktop/Assignments/Term IV/Capstone/indices_harkirat.csv',names = ['name','indices'])

In [8]:
indices = pd.Series(indices.index, index=indices['name']).drop_duplicates()

In [9]:
indices

name
Razer BlackWidow Chroma Keyboard        0
AVA-VIV Blouse                          1
Leather Horse Statues                   2
24K GOLD plated rose                    3
Bundled items requested for Ruie        4
                                    ...
Tarte Park Ave Princess             23603
Air jordan Low Top 6                23604
Free People moonshine sweater       23605
Nose piercing                       23606
Lularoe OS leggings sunglasses      23607
Length: 23608, dtype: int64

In [10]:
def get_comp(value):
    return support_data[(support_data['name_x'] == value) | (support_data['name_y'] == value)].sort_values(by = 'support',ascending = False).head(10)

In [11]:
get_comp('sweat pants')

,Unnamed: 0,name_x,name_y,support,price_x,price_y
36,36,sweat pants,"11"" Baltic amber teething necklace",0.388889,13.0,20.0
38,38,sweat pants,Soul Calibur II Xbox Game,0.388889,13.0,8.0
39,39,MLB Cincinnati Reds T Shirt Size XL,sweat pants,0.388889,10.0,13.0
37,37,sweat pants,2 Polo Rugby(Wingtips),0.388889,13.0,20.0
80,80,NWOT NIKE TUNIC TOP,sweat pants,0.333333,24.0,13.0
393,393,Lulaoe julia stars,sweat pants,0.333333,20.0,13.0
337,337,VSX the player racerback sports bra,sweat pants,0.333333,15.0,13.0
306,306,MTV half shirt,sweat pants,0.333333,7.0,13.0
262,262,sweat pants,"iPhone 6/6S, 7 360 Full Armor Case",0.333333,13.0,8.0
238,238,Rae Dunn Good Morning Bowl,sweat pants,0.333333,18.0,13.0

In [ ]:
cosine_sim

In [ ]:
def get_subsitute(name, cosine_sim=cosine_sim):
    # Get the index of the item that matches the title
    idx = indices[name]
    print(idx)

    # Get the pairwsie similarity scores of all items with that items
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort the items based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the scores of the 10 most similar items
    sim_scores = sim_scores[1:11]
    
    # Get the items indices
    item_indices = [i[0] for i in sim_scores]
    
    # Return the top 10 most similar items
    #return df_new['name'].iloc[item_indices]
    return df_new.iloc[item_indices].sort_values(by = 'price')

In [12]:
get_subsitute('Girls Nike Pro shorts')

NameError: name 'get_subsitute' is not defined

In [ ]:
# initialize gui
from tkinter import *
from pandastable import Table
#insert widgets to process input
class MyWindow:
    def __init__(self, win):
        lbl1=Label(win, text='Item')
        lbl2=Label(win, text='Result')
        t1=Entry(bd=3)
        t2=Entry()
        btn1=Button(win, text='Complement')
        btn2=Button(win, text='Substitute')
        lbl1.place(x=100, y=50)
        t1.place(x=300, y=50)
        #define user inputs after the command function
        b1=Button(win, text='Complement',command=get_comp('sweat pants'))
        b2=Button(win, text='Substitute',command=get_subsitute('American Eagle jeans'))
        #bind functions here
        b1.bind('<Button1>')
        b2.bind('<Button1>')
        b1.place(x=100, y=150)
        b2.place(x=300, y=150)
        lbl2.place(x=100, y=200)
        t2.place(x=300, y=200)
        #define backend after this line
window=Tk()
mywin=MyWindow(window)
window.title('Pricing Engine')
window.geometry("400x300+10+10")
window.mainloop()